USE [V@LID49ASETV5_PDG]
GO
/****** Object:  StoredProcedure [dbo].[WSPR_REKAPPENYUSUTAN]    Script Date: 11/4/2022 2:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[WSPR_REKAPPENYUSUTAN]
(@UNITKEY Char(15),@KDKLAS CHAR(5),@BULAN INT,@KDTAHUN CHAR(5), @SUBUNIT CHAR(2))
AS

-------------------------------------------------------------------------------------------------------------------------------------------------
--DECLARE @UNITKEY CHAR(15),@KDKLAS CHAR(5), @BULAN INT, @KDTAHUN CHAR(5), @SUBUNIT CHAR(2)
--SET @UNITKEY = '398_'
--SET @KDKLAS='01'
--SET @BULAN = 12
--SET @KDTAHUN = '2021'
--SET @SUBUNIT = '1'

--IF EXISTS (SELECT NAME FROM TEMPDB..SYSOBJECTS  WHERE NAME LIKE '#UNIT%')
--   DROP TABLE #UNIT
--IF EXISTS (SELECT NAME FROM TEMPDB..SYSOBJECTS  WHERE NAME LIKE '#_KIB%')
--   DROP TABLE #_KIB
--IF EXISTS (SELECT NAME FROM TEMPDB..SYSOBJECTS  WHERE NAME LIKE '#_PENYUSUTAN%')
--   DROP TABLE #_PENYUSUTAN
--IF EXISTS (SELECT NAME FROM TEMPDB..SYSOBJECTS  WHERE NAME LIKE '#NILAIASET%')
--   DROP TABLE #NILAIASET
--IF EXISTS (SELECT NAME FROM TEMPDB..SYSOBJECTS  WHERE NAME LIKE '#PENYUSUTAN_THNLALU%')
--   DROP TABLE #PENYUSUTAN_THNLALU
--IF EXISTS (SELECT NAME FROM TEMPDB..SYSOBJECTS  WHERE NAME LIKE '#PENYUSUTAN_BLNLALU%')
--   DROP TABLE #PENYUSUTAN_BLNLALU
--IF EXISTS (SELECT NAME FROM TEMPDB..SYSOBJECTS  WHERE NAME LIKE '#PENYUSUTAN_BLNINI%')
--   DROP TABLE #PENYUSUTAN_BLNINI
--IF EXISTS (SELECT NAME FROM TEMPDB..SYSOBJECTS  WHERE NAME LIKE '#REKAP_PENYUSUTAN%')
--   DROP TABLE #REKAP_PENYUSUTAN   
-----------------------------------------------------------------------------------------------------------------------------------------------------

CREATE TABLE #UNIT
(
	UNITKEY VARCHAR(10)
)

IF @SUBUNIT = '1'
BEGIN
	INSERT INTO #UNIT
	SELECT DISTINCT unitkey FROM dbo.f_getlistUnitkey(@UNITKEY)
END
ELSE
BEGIN
	INSERT INTO #UNIT
	VALUES(@UNITKEY)
END

DECLARE @NMBULAN CHAR(20)
SET @NMBULAN = (SELECT KET_BULAN FROM BULAN WHERE KD_BULAN = @BULAN)

SELECT * INTO #_PENYUSUTAN FROM ASET_PENYUSUTAN A WHERE (A.UNITKEY IN (SELECT UNITKEY FROM #UNIT) OR ISNULL(@UNITKEY,'') = '')

SELECT X.*, AK.UNITKEY, AK.ASETKEY, AK.TAHUN, AK.NOREG, AK.KDKON, AK.KDKLAS, '02' KDKIB
INTO #_KIB
FROM (
	SELECT A.IDBRG, MAX(CAST(A.URUTTRANS AS INT)) URUTTRANS
	FROM ASET_KIBBDET A
	WHERE (A.UNITKEY IN (SELECT UNITKEY FROM #UNIT) OR ISNULL(@UNITKEY,'') = '') AND YEAR(A.TGLDOKUMEN) <= @KDTAHUN
	AND (A.KDKLAS = @KDKLAS OR ISNULL(@KDKLAS,'99') = '99')
	GROUP BY A.IDBRG
) X
LEFT JOIN ASET_KIBBDET AK ON AK.IDBRG = X.IDBRG AND AK.URUTTRANS = X.URUTTRANS

INSERT INTO #_KIB
SELECT X.*, AK.UNITKEY, AK.ASETKEY, AK.TAHUN, AK.NOREG, AK.KDKON, AK.KDKLAS, '03' KDKIB
FROM (
	SELECT A.IDBRG, MAX(CAST(A.URUTTRANS AS INT)) URUTTRANS
	FROM ASET_KIBCDET A
	WHERE (A.UNITKEY IN (SELECT UNITKEY FROM #UNIT) OR ISNULL(@UNITKEY,'') = '')  AND YEAR(A.TGLDOKUMEN) <= @KDTAHUN
	AND (A.KDKLAS = @KDKLAS OR ISNULL(@KDKLAS,'99') = '99')
	GROUP BY A.IDBRG
) X
LEFT JOIN ASET_KIBCDET AK ON AK.IDBRG = X.IDBRG AND AK.URUTTRANS = X.URUTTRANS

INSERT INTO #_KIB
SELECT X.*, AK.UNITKEY, AK.ASETKEY, AK.TAHUN, AK.NOREG, AK.KDKON, AK.KDKLAS, '05' KDKIB
FROM (
	SELECT A.IDBRG, MAX(CAST(A.URUTTRANS AS INT)) URUTTRANS
	FROM ASET_KIBEDET A
	WHERE (A.UNITKEY IN (SELECT UNITKEY FROM #UNIT) OR ISNULL(@UNITKEY,'') = '') AND YEAR(A.TGLDOKUMEN) <= @KDTAHUN 
	AND (A.KDKLAS = @KDKLAS OR ISNULL(@KDKLAS,'99') = '99')
	GROUP BY A.IDBRG
) X
LEFT JOIN ASET_KIBEDET AK ON AK.IDBRG = X.IDBRG AND AK.URUTTRANS = X.URUTTRANS

INSERT INTO #_KIB
SELECT X.*, AK.UNITKEY, AK.ASETKEY, AK.TAHUN, AK.NOREG, AK.KDKON, AK.KDKLAS, '04' KDKIB
FROM (
	SELECT A.IDBRG, MAX(CAST(A.URUTTRANS AS INT)) URUTTRANS
	FROM ASET_KIBDDET A
	WHERE (A.UNITKEY IN (SELECT UNITKEY FROM #UNIT) OR ISNULL(@UNITKEY,'') = '') AND YEAR(A.TGLDOKUMEN) <= @KDTAHUN 
	AND (A.KDKLAS = @KDKLAS OR ISNULL(@KDKLAS,'99') = '99')
	GROUP BY A.IDBRG
) X
LEFT JOIN ASET_KIBDDET AK ON AK.IDBRG = X.IDBRG AND AK.URUTTRANS = X.URUTTRANS

INSERT INTO #_KIB
SELECT X.*, AK.UNITKEY, AK.ASETKEY, AK.TAHUN, AK.NOREG, AK.KDKON, AK.KDKLAS, '07' KDKIB
FROM (
	SELECT A.IDBRG, MAX(CAST(A.URUTTRANS AS INT)) URUTTRANS
	FROM ASET_KIBGDET A
	WHERE (A.UNITKEY IN (SELECT UNITKEY FROM #UNIT) OR ISNULL(@UNITKEY,'') = '') AND YEAR(A.TGLDOKUMEN) <= @KDTAHUN 
	AND (A.KDKLAS = @KDKLAS OR ISNULL(@KDKLAS,'99') = '99')
	GROUP BY A.IDBRG
) X
LEFT JOIN ASET_KIBGDET AK ON AK.IDBRG = X.IDBRG AND AK.URUTTRANS = X.URUTTRANS

-----------------------------------------------------------------------------------------------------------------------------------------------
/* NILAI PEROLEHAN */
-----------------------------------------------------------------------------------------------------------------------------------------------
SELECT (CASE WHEN A.KDKON IN ('05','06') OR A.KDKIB = '07' THEN '2' ELSE '1' END) JNSASET, A.KDKIB AS KDASET, A.KDKLAS,SUM(A.NILAIASET) NILAIASET
INTO #NILAIASET
FROM (
	SELECT DISTINCT p.IDBRG, p.KD_BULAN, p.KDTAHUN, p.UNITKEY, p.ASETKEY, p.TAHUN, p.NOREG,k.KDKLAS, p.NILAIASET, p.NILAISUSUT, p.NILAIAKUMSUSUT, p.NILAIBUKU, k.KDKON, k.KDKIB
	FROM #_PENYUSUTAN AS p
	LEFT JOIN #_KIB AS k ON k.IDBRG = p.IDBRG
	WHERE p.KDTAHUN = @KDTAHUN  AND p.KD_BULAN = @BULAN
) A
GROUP BY A.KDKON, A.KDKIB,A.KDKLAS

-----------------------------------------------------------------------------------------------------------------------------------------------
/* AKUMULASI TAHUN LALU */
-----------------------------------------------------------------------------------------------------------------------------------------------
SELECT (CASE WHEN A.KDKON IN ('05','06') OR A.KDKIB = '07' THEN '2' ELSE '1' END) JNSASET, A.KDKIB AS KDASET,  A.KDKLAS, SUM(A.NILAIAKUMSUSUT) NILAIAKUMSUSUT_THNLALU
INTO #PENYUSUTAN_THNLALU
FROM (
	SELECT DISTINCT p.IDBRG, p.KD_BULAN, p.KDTAHUN, p.UNITKEY, p.ASETKEY, p.TAHUN, p.NOREG,k.KDKLAS, p.NILAIASET, p.NILAISUSUT, p.NILAIAKUMSUSUT, p.NILAIBUKU, k.KDKON, k.KDKIB
	FROM #_PENYUSUTAN AS p
	LEFT JOIN #_KIB AS k ON k.IDBRG = p.IDBRG
	WHERE p.KDTAHUN = CAST(@KDTAHUN AS INT)-1  AND p.KD_BULAN = '12' 
) A
GROUP BY A.KDKON, A.KDKIB,A.KDKLAS

-----------------------------------------------------------------------------------------------------------------------------------------------
/* PENYUSUTAN BULAN -1 */
-----------------------------------------------------------------------------------------------------------------------------------------------
SELECT (CASE WHEN A.KDKON IN ('05','06') OR A.KDKIB = '07' THEN '2' ELSE '1' END) JNSASET, A.KDKIB AS KDASET, A.KDKLAS, SUM(A.NILAIAKUMSUSUT) NILAIAKUMSUSUT_BLNLALU
INTO #PENYUSUTAN_BLNLALU
FROM (
	SELECT p.BULAN KD_BULAN, p.TAHUN KDTAHUN, p.IDBRG, p.UNITKEY, p.ASETKEY, p.TAHUN, p.NOREG, k.KDKLAS,p.NILAIASET, p.NILAISUSUT, p.NILAIAKUMSUSUT, p.NILAIBUKU, k.KDKON, k.KDKIB
	FROM ASET_PENYUSUTANDET AS p
	LEFT JOIN #_KIB AS k ON k.IDBRG = p.IDBRG AND k.UNITKEY = p.UNITKEY AND k.ASETKEY = p.ASETKEY AND k.TAHUN = p.TAHUN AND k.NOREG = p.NOREG
	WHERE (p.UNITKEY IN (SELECT UNITKEY FROM #UNIT) OR ISNULL(@UNITKEY,'') = '') AND p.TAHUNHITUNG = @KDTAHUN  AND p.BULAN < @BULAN
) A
GROUP BY A.KDKON, A.KDKIB,A.KDKLAS

-----------------------------------------------------------------------------------------------------------------------------------------------
/* PENYUSUTAN BULAN INI */
-----------------------------------------------------------------------------------------------------------------------------------------------
SELECT (CASE WHEN A.KDKON IN ('05','06') OR A.KDKIB = '07' THEN '2' ELSE '1' END) JNSASET, A.KDKIB AS KDASET, A.KDKLAS,SUM(A.NILAISUSUT) NILAISUSUT, SUM(A.NILAIAKUMSUSUT) NILAIAKUMSUSUT, SUM(A.NILAIBUKU) NILAIBUKU
INTO #PENYUSUTAN_BLNINI
FROM (
	SELECT DISTINCT p.IDBRG, p.KD_BULAN, p.KDTAHUN, p.UNITKEY, p.ASETKEY, p.TAHUN, p.NOREG, k.KDKLAS,p.NILAIASET, p.NILAISUSUT, p.NILAIAKUMSUSUT, p.NILAIBUKU, k.KDKON, k.KDKIB
	FROM #_PENYUSUTAN AS p
	LEFT JOIN #_KIB AS k ON k.IDBRG = p.IDBRG
	WHERE p.KDTAHUN = @KDTAHUN  AND p.KD_BULAN = @BULAN
) A
GROUP BY A.KDKON, A.KDKIB,A.KDKLAS

-----------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------
SELECT B.JNSASET, B.KDASET, J.NMKIB AS NMASET, B.KDKLAS, B.NILAIASET, B.NILAIAKUMSUSUT_THNLALU, B.NILAISUSUT, B.NILAIAKUMSUSUT, 
	B.NILAIAKUMSUSUT_BLNLALU, (B.NILAIASET-B.NILAIAKUMSUSUT) NILAIBUKU
INTO #REKAP_PENYUSUTAN
FROM(
	SELECT JNSASET, KDASET, KDKLAS,
	SUM(NILAIASET) NILAIASET, SUM(NILAIAKUMSUSUT_THNLALU) NILAIAKUMSUSUT_THNLALU, SUM(A.NILAIAKUMSUSUT_BLNLALU) NILAIAKUMSUSUT_BLNLALU, SUM(NILAISUSUT) NILAISUSUT, SUM(A.NILAIAKUMSUSUT) NILAIAKUMSUSUT
	FROM (
		SELECT JNSASET, KDASET, KDKLAS,SUM(NILAIASET) NILAIASET, 0 NILAIAKUMSUSUT_THNLALU, 0 NILAIAKUMSUSUT_BLNLALU, 0 NILAISUSUT, 0 NILAIAKUMSUSUT
		FROM #NILAIASET 
		GROUP BY JNSASET, KDASET,KDKLAS
		UNION ALL
		SELECT JNSASET, KDASET, KDKLAS, 0 NILAIASET, SUM(NILAIAKUMSUSUT_THNLALU) NILAIAKUMSUSUT_THNLALU, 0 NILAIAKUMSUSUT_BLNLALU, 0 NILAISUSUT, 0 NILAIAKUMSUSUT
		FROM #PENYUSUTAN_THNLALU
		GROUP BY JNSASET, KDASET,KDKLAS
		UNION ALL
		SELECT JNSASET, KDASET, KDKLAS, 0 NILAIASET, 0 NILAIAKUMSUSUT_THNLALU, 0 NILAIAKUMSUSUT_BLNLALU, SUM(NILAISUSUT) NILAISUSUT, SUM(NILAIAKUMSUSUT) NILAIAKUMSUSUT
		FROM #PENYUSUTAN_BLNINI
		GROUP BY JNSASET, KDASET,KDKLAS
		UNION ALL
		SELECT JNSASET, KDASET, KDKLAS, 0 NILAIASET, 0 NILAIAKUMSUSUT_THNLALU, SUM(NILAIAKUMSUSUT_BLNLALU) NILAIAKUMSUSUT_BLNLALU, 0 NILAISUSUT, 0 NILAIAKUMSUSUT
		FROM #PENYUSUTAN_BLNLALU
		GROUP BY JNSASET, KDASET,KDKLAS
	) A
	GROUP BY JNSASET, KDASET,KDKLAS
) B
	LEFT JOIN JNSKIB AS J ON B.KDASET = J.KDKIB
	
-----------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------
/* HEADER */
DECLARE @PROVINSI VARCHAR (30), @PEMDA VARCHAR(100), @KOTA VARCHAR(50),@KDUNIT VARCHAR (30), @NMUNIT VARCHAR(100), @THANG VARCHAR(100)
SELECT	@PROVINSI	=(SELECT REPLACE(p.CONFIGVAL,'PEMERINTAH ','') FROM PEMDA p WHERE p.CONFIGID='pemda_p')
SELECT	@PEMDA		=(SELECT REPLACE (p.CONFIGVAL,'PEMERINTAH ','') FROM PEMDA p WHERE p.CONFIGID='pemda_l')
SELECT  @KOTA		=(SELECT p.CONFIGVAL FROM PEMDA p WHERE p.CONFIGID='pemda_i')
SELECT  @THANG		=(SELECT p.CONFIGVAL FROM PEMDA p WHERE p.CONFIGID='cur_thang')

IF @UNITKEY = ''
BEGIN
	SELECT @KDUNIT='' 
     SELECT @NMUNIT=(SELECT REPLACE (p.CONFIGVAL,'PEMERINTAH ','') FROM PEMDA p WHERE p.CONFIGID='pemda_l')
END
ELSE
   BEGIN
     SELECT @KDUNIT=(SELECT KDUNIT FROM DAFTUNIT WHERE UNITKEY=@UNITKEY)
     SELECT @NMUNIT=(SELECT NMUNIT FROM DAFTUNIT WHERE UNITKEY=@UNITKEY)
END

/* PENANDATANGAN report SKPD */
-- KIRI (harus isi nama pimpinan unit di daftunit)
DECLARE @KDJBTPIMSKPD CHAR(30),@NIPPIMSKPD VARCHAR(50),@NMPIMSKPD VARCHAR (100)
SELECT  @KDJBTPIMSKPD = ISNULL((SELECT d.NMJBT FROM DAFTJABATAN AS d INNER JOIN PEGAWAI AS p ON p.KDJBT = d.KDJBT INNER JOIN JABTTD AS j ON j.NIP = p.NIP WHERE d.KDJBT in ('001','005','007','009','010') AND j.KDDOK = '16' AND p.UNITKEY = @unitkey),'')
SELECT  @NIPPIMSKPD	= ISNULL((SELECT RTRIM(LTRIM(p.NIP)) FROM DAFTJABATAN AS d INNER JOIN PEGAWAI AS p ON p.KDJBT = d.KDJBT INNER JOIN JABTTD AS j ON j.NIP = p.NIP WHERE d.KDJBT in ('001','005','007','009','010') AND j.KDDOK = '16' AND p.UNITKEY = @unitkey),'')
SELECT  @NMPIMSKPD = ISNULL((SELECT NAMA FROM PEGAWAI WHERE NIP=@NIPPIMSKPD),'')

-- KANAN (harus isi penandatangan dokumen per-unit)
DECLARE @KDJBTTTDSKPD CHAR(30),@NIPTTDSKPD VARCHAR(50),@NMTTDSKPD VARCHAR (100)
SELECT  @KDJBTTTDSKPD = ISNULL((SELECT d.NMJBT FROM DAFTJABATAN AS d INNER JOIN PEGAWAI AS p ON p.KDJBT = d.KDJBT INNER JOIN JABTTD AS j ON j.NIP = p.NIP WHERE d.KDJBT in ('002','004') AND j.KDDOK = '16' AND p.UNITKEY = @unitkey),'')
SELECT  @NIPTTDSKPD	= ISNULL((SELECT RTRIM(LTRIM(p.NIP)) FROM DAFTJABATAN AS d INNER JOIN PEGAWAI AS p ON p.KDJBT = d.KDJBT INNER JOIN JABTTD AS j ON j.NIP = p.NIP WHERE d.KDJBT in ('002','004') AND j.KDDOK = '16' AND p.UNITKEY = @unitkey),'')
SELECT  @NMTTDSKPD	= ISNULL((SELECT NAMA FROM PEGAWAI WHERE NIP=@NIPTTDSKPD),'')

/* PENANDATANGAN report PEMDA */
-- KIRI (harus isi nama sekda di tabel pemda)
DECLARE @KDJBTPIMPEMDA CHAR(30),@NIPPIMPEMDA VARCHAR(50),@NMPIMPEMDA VARCHAR (100)
SELECT	@KDJBTPIMPEMDA = ISNULL ((SELECT CONFIGVAL FROM pemda WHERE CONFIGID ='pemda_j'),'')
SELECT	@NIPPIMPEMDA = ISNULL ((SELECT CONFIGVAL FROM pemda WHERE CONFIGID ='pemda_y'),'')
SELECT	@NMPIMPEMDA	= ISNULL ((SELECT CONFIGVAL FROM pemda WHERE CONFIGID ='pemda_x'),'')

-- KANAN (harus isi pejabat dengan jabatan 'PENGURUS BARANG PEMDA')
DECLARE @KDJBTTTDPEMDA CHAR(30),@NIPTTDPEMDA VARCHAR(50),@NMTTDPEMDA VARCHAR (100)
SELECT  @NIPTTDPEMDA = ISNULL((SELECT TOP 1 NIP FROM JABTTD WHERE UNITKEY= @UNITKEY AND KDPOSTTD='03'),'')
SELECT  @NMTTDPEMDA	= ISNULL((SELECT NAMA FROM PEGAWAI WHERE NIP=@NIPTTDSKPD),'')
SELECT  @KDJBTTTDPEMDA = ISNULL((SELECT JABATAN FROM PEGAWAI WHERE NIP=@NIPTTDPEMDA),'') 

-----------------------------------------------------------------------------------------------------------------------------------------------


SELECT @PROVINSI PROVINSI, @PEMDA PEMDA, @KOTA KOTA, @KDUNIT KDUNIT ,@NMUNIT NMUNIT,@THANG THANG,
       @NIPPIMSKPD NIPPIMSKPD,@NMPIMSKPD NMPIMSKPD,@NIPTTDSKPD NIPTTDSKPD,@NMTTDSKPD NMTTDSKPD,
       @NIPPIMPEMDA NIPPIMPEMDA,@NMPIMPEMDA NMPIMPEMDA,@NIPTTDPEMDA NIPTTDPEMDA,@NMTTDPEMDA NMTTDPEMDA,
       P.JNSASET, P.KDASET, P.NMASET, P.KDKLAS,P.NILAIASET,  ROUND(P.NILAIAKUMSUSUT_THNLALU,0) NILAIAKUMSUSUT_THNLALU, 
       ROUND(P.NILAIAKUMSUSUT_BLNLALU,0) NILAIAKUMSUSUT_BLNLALU, ROUND(P.NILAISUSUT,0) NILAISUSUT, 
	   ROUND(P.NILAIAKUMSUSUT,0) NILAIAKUMSUSUT, ROUND(P.NILAIBUKU,0) NILAIBUKU,
       @NMBULAN NMBULAN
FROM #REKAP_PENYUSUTAN P
ORDER BY P.JNSASET, P.KDASET
