USE [V@LID49ASETV5_PDG]
GO
/****** Object:  StoredProcedure [dbo].[WSPR_DAFTPENYUSUTAN]    Script Date: 11/4/2022 1:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[WSPR_DAFTPENYUSUTAN]
(@UNITKEY Char(15),@KDKLAS CHAR(5),@BULAN INT,@KDTAHUN CHAR(5), @SUBUNIT CHAR(2))
AS

-----------------------------------------------------------------------------------------------------------------------------------------
--DECLARE @UNITKEY CHAR(15),@KDKLAS CHAR(5), @BULAN INT, @KDTAHUN CHAR(5), @SUBUNIT CHAR(2)
--SET @UNITKEY = '398_'
--SET @KDKLAS = '01'
--SET @BULAN = 6
--SET @KDTAHUN = '2022'
--SET @SUBUNIT = '1' 

--IF EXISTS (SELECT NAME FROM TEMPDB..SYSOBJECTS  WHERE NAME LIKE '#UNIT%')
--   DROP TABLE #UNIT
--IF EXISTS (SELECT NAME FROM TEMPDB..SYSOBJECTS  WHERE NAME LIKE '#_KIB%')
--   DROP TABLE #_KIB
--IF EXISTS (SELECT NAME FROM TEMPDB..SYSOBJECTS  WHERE NAME LIKE '#_00%')
--   DROP TABLE #_00
--IF EXISTS (SELECT NAME FROM TEMPDB..SYSOBJECTS  WHERE NAME LIKE '#_00a%')
--   DROP TABLE #_00a
--IF EXISTS (SELECT NAME FROM TEMPDB..SYSOBJECTS  WHERE NAME LIKE '#_01%')
--   DROP TABLE #_01
--IF EXISTS (SELECT NAME FROM TEMPDB..SYSOBJECTS  WHERE NAME LIKE '#_02%')
--   DROP TABLE #_02
---------------------------------------------------------------------------------------------------------------------------------------------
--SET DATEFORMAT DMY

CREATE TABLE #UNIT
(
	UNITKEY VARCHAR(10)
)

IF @SUBUNIT = '1'
BEGIN
	INSERT INTO #UNIT
	SELECT DISTINCT unitkey FROM dbo.f_getlistUnitkey(@UNITKEY)
END
ELSE
BEGIN
	INSERT INTO #UNIT
	VALUES(@UNITKEY)
END

DECLARE @NMBULAN CHAR(20)
SET @NMBULAN = (SELECT KET_BULAN FROM BULAN WHERE KD_BULAN = @BULAN)

-----------------------------------------------------------------------------------------------------------------------------------------------

SELECT X.*, AK.KDKON, AK.KDKLAS, '02' KDKIB
INTO #_KIB
FROM (
	SELECT A.IDBRG, MAX(CAST(A.URUTTRANS AS INT)) URUTTRANS
	FROM ASET_KIBBDET A
	WHERE (A.UNITKEY IN (SELECT UNITKEY FROM #UNIT) OR ISNULL(@UNITKEY,'') = '') 
	AND (A.KDKLAS = @KDKLAS OR ISNULL(@KDKLAS,'99') = '99')
	GROUP BY A.IDBRG
) X
LEFT JOIN ASET_KIBBDET AK ON AK.IDBRG = X.IDBRG AND AK.URUTTRANS = X.URUTTRANS

INSERT INTO #_KIB
SELECT X.*, AK.KDKON, AK.KDKLAS, '03' KDKIB
FROM (
	SELECT A.IDBRG, MAX(CAST(A.URUTTRANS AS INT)) URUTTRANS
	FROM ASET_KIBCDET A
	WHERE (A.UNITKEY IN (SELECT UNITKEY FROM #UNIT) OR ISNULL(@UNITKEY,'') = '') 
	AND (A.KDKLAS = @KDKLAS OR ISNULL(@KDKLAS,'99') = '99')
	GROUP BY A.IDBRG
) X
LEFT JOIN ASET_KIBCDET AK ON AK.IDBRG = X.IDBRG AND AK.URUTTRANS = X.URUTTRANS


INSERT INTO #_KIB
SELECT X.*, AK.KDKON, AK.KDKLAS, '04' KDKIB
FROM (
	SELECT A.IDBRG, MAX(CAST(A.URUTTRANS AS INT)) URUTTRANS
	FROM ASET_KIBDDET A
	WHERE (A.UNITKEY IN (SELECT UNITKEY FROM #UNIT) OR ISNULL(@UNITKEY,'') = '')
	AND (A.KDKLAS = @KDKLAS OR ISNULL(@KDKLAS,'99') = '99')
	GROUP BY A.IDBRG
) X
LEFT JOIN ASET_KIBDDET AK ON AK.IDBRG = X.IDBRG AND AK.URUTTRANS = X.URUTTRANS

INSERT INTO #_KIB
SELECT X.*, AK.KDKON, AK.KDKLAS, '05' KDKIB
FROM (
	SELECT A.IDBRG, MAX(CAST(A.URUTTRANS AS INT)) URUTTRANS
	FROM ASET_KIBEDET A
	WHERE (A.UNITKEY IN (SELECT UNITKEY FROM #UNIT) OR ISNULL(@UNITKEY,'') = '') 
	AND (A.KDKLAS = @KDKLAS OR ISNULL(@KDKLAS,'99') = '99')
	GROUP BY A.IDBRG
) X
LEFT JOIN ASET_KIBEDET AK ON AK.IDBRG = X.IDBRG AND AK.URUTTRANS = X.URUTTRANS

INSERT INTO #_KIB
SELECT X.*, AK.KDKON, AK.KDKLAS, '07' KDKIB
FROM (
	SELECT A.IDBRG, MAX(CAST(A.URUTTRANS AS INT)) URUTTRANS
	FROM ASET_KIBGDET A
	WHERE (A.UNITKEY IN (SELECT UNITKEY FROM #UNIT) OR ISNULL(@UNITKEY,'') = '')
	AND (A.KDKLAS = @KDKLAS OR ISNULL(@KDKLAS,'99') = '99')
	GROUP BY A.IDBRG
) X
LEFT JOIN ASET_KIBGDET AK ON AK.IDBRG = X.IDBRG AND AK.URUTTRANS = X.URUTTRANS

--update ASET_PENYUSUTAN set NILAISUSUT=0 where ( NILAIBUKU='0' and IDBRG in (select IDBRG from ASET_KIBBDET where (UNITKEY IN (SELECT UNITKEY FROM #UNIT) OR ISNULL(@UNITKEY,'') = '')) )

update ASET_PENYUSUTAN set NILAISUSUT=0 where NILAIBUKU='0' and IDBRG in (select IDBRG from ASET_KIBBDET where (UNITKEY IN (SELECT UNITKEY FROM #UNIT) ) ) and SISAMASAPAKAI < '2021'


SELECT AP.IDBRG, AP.UNITKEY, AP.ASETKEY, AP.TAHUN, AP.NOREG, CAST(MONTH(AK.TGLPEROLEHAN) AS CHAR(2)) AS BULANPEROLEHAN,
	(CASE WHEN AP.PERIODEKE < (AP.UMEKO*12) THEN RTRIM(CAST(FLOOR(((AP.UMEKO*12)-AP.PERIODEKE)/12) AS CHAR(2)))+'        '
	+RTRIM(CAST(FLOOR(((AP.PERIODEKE*12)-AP.PERIODEKE)%12) AS CHAR(2))) ELSE '0        0' END) AS MERKTYPE,AD.UMEKO,(CASE WHEN AP.NILAISUSUT =0 or AP.NILAISUSUT=NULL THEN 0 else isnull((AP.NILAIBUKU/AP.NILAISUSUT),0) END) UMEKOSISA,
	--(AD.UMEKO-(CAST(@KDTAHUN AS INT)-AD.TAHUN-1))UMEKOSISA,
	AP.SISAMASAPAKAI, AP.PERIODEKE, AP.TGLSUSUT, K.KDKLAS, AP.NILAIASET, AP.NILAISUSUT, AP.NILAIAKUMSUSUT, AP.NILAIBUKU, K.KDKON  
INTO #_00
FROM ASET_PENYUSUTAN AP  
    INNER JOIN ASET_PENYUSUTANDET AD ON AD.IDBRG=AP.IDBRG 
   	INNER JOIN #_KIB K ON K.IDBRG = AP.IDBRG
	INNER JOIN ASET_KIB AK ON AK.IDBRG = K.IDBRG
	WHERE (AP.UNITKEY IN (SELECT UNITKEY FROM #UNIT) OR ISNULL(@UNITKEY,'') = '') AND AP.KDTAHUN = @KDTAHUN AND AP.KD_BULAN = @BULAN  
	AND (k.KDKLAS = @KDKLAS OR ISNULL(@KDKLAS,'99') = '99')

 SELECT NUM_ROW, (CASE WHEN X.KDKON IN ('05','06') OR J.KDKIB in ('07','09') THEN '2' ELSE '1' END) JNSASET, X.IDBRG,
	J.KDKIB+'.'+D.KDASET KDASET, X.NOREG, X.KDKON, X.BULANPEROLEHAN, X.TAHUN, X.MERKTYPE,X.UMEKO, X.MASAPAKAI, X.UMEKOSISA, X.BULANKE, X.TGLSUSUT, X.KDKLAS, X.NILAIASET,
	X.NILAISUSUT, X.NILAIAKUMSUSUT, X.NILAIBUKU, X.NILAIAKUMSUSUT_THNLALU, X.NILAIAKUMSUSUT_BLNLALU
INTO #_01
FROM (
	SELECT A.*, ISNULL(B.NILAIAKUMSUSUT_BLNLALU,0) NILAIAKUMSUSUT_BLNLALU
	FROM (
		SELECT  ROW_NUMBER() OVER(PARTITION BY KD.IDBRG ORDER BY MASAPAKAI DESC) AS num_row, KD.IDBRG, KD.UNITKEY, KD.ASETKEY, KD.TAHUN,KD.UMEKO, KD.NOREG, KD.KDKON, KD.BULANPEROLEHAN, KD.MERKTYPE, MAX(T.MASAPAKAI) AS MASAPAKAI, KD.UMEKOSISA,KD.PERIODEKE AS BULANKE, KD.TGLSUSUT,KD.KDKLAS, KD.NILAIASET,
			ISNULL(KD.NILAISUSUT,0) NILAISUSUT, ISNULL(KD.NILAIAKUMSUSUT,0) NILAIAKUMSUSUT, ISNULL(KD.NILAIBUKU,0) NILAIBUKU, MAX(ISNULL(T.NILAIAKUMSUSUT,0)) NILAIAKUMSUSUT_THNLALU
		FROM #_00 AS KD 
			LEFT JOIN ASET_PENYUSUTANDET AS T ON T.IDBRG = KD.IDBRG AND T.UNITKEY = KD.UNITKEY AND T.ASETKEY = KD.ASETKEY AND T.TAHUN = KD.TAHUN AND T.NOREG = KD.NOREG
				AND T.TAHUNHITUNG = CAST(@KDTAHUN AS INT)-1 --AND T.BULAN = @BULAN 
			GROUP BY KD.IDBRG, KD.UNITKEY, KD.ASETKEY, KD.TAHUN, KD.NOREG, KD.KDKON, KD.BULANPEROLEHAN, KD.MERKTYPE, KD.UMEKO,T.MASAPAKAI,KD.UMEKOSISA,KD.PERIODEKE,KD.TGLSUSUT,KD.KDKLAS, KD.NILAIASET,KD.NILAISUSUT,KD.NILAIAKUMSUSUT,KD.NILAIBUKU,T.NILAIAKUMSUSUT

	) A
		LEFT JOIN (SELECT  t.IDBRG, t.UNITKEY, t.ASETKEY, t.TAHUN, t.NOREG, ROUND(SUM(t.NILAIAKUMSUSUT),2) NILAIAKUMSUSUT_BLNLALU
				   FROM ASET_PENYUSUTANDET AS t 
				   WHERE (t.UNITKEY IN (SELECT UNITKEY FROM #UNIT) OR ISNULL(@UNITKEY,'') = '') AND t.TAHUNHITUNG = @KDTAHUN AND t.BULAN < @BULAN
				   GROUP BY t.IDBRG, t.UNITKEY, t.ASETKEY, t.TAHUN, t.NOREG
		) B ON B.IDBRG = A.IDBRG AND B.UNITKEY = A.UNITKEY AND B.ASETKEY = A.ASETKEY AND B.TAHUN = A.TAHUN AND B.NOREG = A.NOREG 
) X
	LEFT JOIN DAFTASET AS D ON D.ASETKEY = X.ASETKEY
	LEFT JOIN JNSKIBASET AS J ON J.K_BRG = LEFT(D.KDASET,9)
	WHERE num_row=1


	--SELECT *FROM  #_01 WHERE KDASET='02.1.3.2.05.02.07.001.' and TAHUN='2021'
	--RETURN 

	--IDBRG in ('1585226','1585227','1585228','1585229','1585230','1585231','1585232','1585233')

--ORDER BY X.MASAPAKAI DESC

  

INSERT INTO #_01
SELECT NUM_ROW, JNSASET, IDBRG, LEFT(KDASET,9), '', '', '', '', '', 0, 0, 0,0,'','', SUM(NILAIASET), SUM(NILAISUSUT), SUM(NILAIAKUMSUSUT), SUM(NILAIBUKU), SUM(NILAIAKUMSUSUT_THNLALU), SUM(NILAIAKUMSUSUT_BLNLALU)
FROM #_01 --WHERE num_row=1
GROUP BY NUM_ROW, JNSASET, IDBRG, LEFT(KDASET,9)

--SELECT *FROM #_01 return WHERE KDASET='02.1.3.2.05.02.07.001.' and TAHUN='2021'
--SELECT * FROM ASET_PENYUSUTANDET
--RETURN
-----------------------------------------------------------------------------------------------------------------------------------------------
/* HEADER */
DECLARE @PROVINSI VARCHAR (30), @PEMDA VARCHAR(100), @KOTA VARCHAR(50),@KDUNIT VARCHAR (30), @NMUNIT VARCHAR(100), @THANG VARCHAR(100)
SELECT	@PROVINSI	=(SELECT REPLACE(p.CONFIGVAL,'PEMERINTAH ','') FROM PEMDA p WHERE p.CONFIGID='pemda_p')
SELECT	@PEMDA		=(SELECT REPLACE (p.CONFIGVAL,'PEMERINTAH ','') FROM PEMDA p WHERE p.CONFIGID='pemda_l')
SELECT  @KOTA		=(SELECT p.CONFIGVAL FROM PEMDA p WHERE p.CONFIGID='pemda_i')
SELECT  @THANG		=(SELECT p.CONFIGVAL FROM PEMDA p WHERE p.CONFIGID='cur_thang')

IF @UNITKEY = ''
BEGIN
	SELECT @KDUNIT='' 
     SELECT @NMUNIT=(SELECT REPLACE (p.CONFIGVAL,'PEMERINTAH ','') FROM PEMDA p WHERE p.CONFIGID='pemda_l')
END
ELSE
   BEGIN
     SELECT @KDUNIT=(SELECT KDUNIT FROM DAFTUNIT WHERE UNITKEY=@UNITKEY)
     SELECT @NMUNIT=(SELECT NMUNIT FROM DAFTUNIT WHERE UNITKEY=@UNITKEY)
END

/* ------------ PENANDATANGAN ------------ */
/* KIRI */
-- SKPD
DECLARE @KDJBTPIMSKPD CHAR(30),@NIPPIMSKPD VARCHAR(50),@NMPIMSKPD VARCHAR (100)
SELECT  @KDJBTPIMSKPD = ISNULL((SELECT d.NMJBT FROM DAFTJABATAN AS d INNER JOIN PEGAWAI AS p ON p.KDJBT = d.KDJBT INNER JOIN JABTTD AS j ON j.NIP = p.NIP WHERE d.KDJBT in ('001','005','007','009','010') AND j.KDDOK = '16' AND p.UNITKEY = @unitkey),'')
SELECT  @NIPPIMSKPD	= ISNULL((SELECT RTRIM(LTRIM(p.NIP)) FROM DAFTJABATAN AS d INNER JOIN PEGAWAI AS p ON p.KDJBT = d.KDJBT INNER JOIN JABTTD AS j ON j.NIP = p.NIP WHERE d.KDJBT in ('001','005','007','009','010') AND j.KDDOK = '16' AND p.UNITKEY = @unitkey),'')
SELECT  @NMPIMSKPD = ISNULL((SELECT NAMA FROM PEGAWAI WHERE NIP=@NIPPIMSKPD),'')
-- PEMDA
DECLARE @KDJBTPIMPEMDA CHAR(30),@NIPPIMPEMDA VARCHAR(50),@NMPIMPEMDA VARCHAR (100)
SELECT	@KDJBTPIMPEMDA = ISNULL ((SELECT CONFIGVAL FROM pemda WHERE CONFIGID ='pemda_w'),'')
SELECT	@NIPPIMPEMDA = ISNULL ((SELECT CONFIGVAL FROM pemda WHERE CONFIGID ='pemda_y'),'')
SELECT	@NMPIMPEMDA	= ISNULL ((SELECT CONFIGVAL FROM pemda WHERE CONFIGID ='pemda_x'),'')

/* KANAN */
-- SKPD
DECLARE @KDJBTTTDSKPD CHAR(30),@NIPTTDSKPD VARCHAR(50),@NMTTDSKPD VARCHAR (100)
SELECT  @KDJBTTTDSKPD = ISNULL((SELECT d.NMJBT FROM DAFTJABATAN AS d INNER JOIN PEGAWAI AS p ON p.KDJBT = d.KDJBT INNER JOIN JABTTD AS j ON j.NIP = p.NIP WHERE d.KDJBT in ('002','004') AND j.KDDOK = '16' AND p.UNITKEY = @unitkey),'')
SELECT  @NIPTTDSKPD	= ISNULL((SELECT RTRIM(LTRIM(p.NIP)) FROM DAFTJABATAN AS d INNER JOIN PEGAWAI AS p ON p.KDJBT = d.KDJBT INNER JOIN JABTTD AS j ON j.NIP = p.NIP WHERE d.KDJBT in ('002','004') AND j.KDDOK = '16' AND p.UNITKEY = @unitkey),'')
SELECT  @NMTTDSKPD	= ISNULL((SELECT NAMA FROM PEGAWAI WHERE NIP=@NIPTTDSKPD),'')
-- PEMDA
DECLARE @KDJBTTTDPEMDA CHAR(100),@NIPTTDPEMDA VARCHAR(50),@NMTTDPEMDA VARCHAR (200)
SELECT  @KDJBTTTDPEMDA = (SELECT d.NMJBT FROM DAFTJABATAN AS d WHERE d.KDJBT='000')
SELECT  @NIPTTDPEMDA = (SELECT RTRIM(LTRIM(p.NIP)) FROM DAFTJABATAN AS d INNER JOIN PEGAWAI AS p ON p.KDJBT = d.KDJBT INNER JOIN JABTTD AS j ON j.NIP = p.NIP WHERE d.KDJBT='001' AND j.KDDOK = '16' AND p.UNITKEY ='374_')
SELECT  @NMTTDPEMDA	= (SELECT NAMA FROM PEGAWAI WHERE NIP=@NIPTTDPEMDA)
---------------------------------------------------------------------------------------------------------------------------------------------------------


SELECT P.JNSASET, 
	IDBRG=(CASE WHEN DA.TYPE='D' THEN P.IDBRG ELSE '' END), P.KDASET, isnull(DA.NMASET,j.NMKIB) NMASET, isnull(DA.TYPE,'H') TYPE, P.NOREG, P.BULANPEROLEHAN,
       P.TAHUN, P.MERKTYPE, P.UMEKO, P.MASAPAKAI,P.UMEKOSISA, P.BULANKE,
       P.TGLSUSUT,P.KDKLAS, P.NILAIASET NILAIASET, ROUND(P.NILAISUSUT,0) NILAISUSUT, 
	   P.NILAIAKUMSUSUT NILAIAKUMSUSUT, P.NILAIBUKU NILAIBUKU, P.NILAIAKUMSUSUT_THNLALU NILAIAKUMSUSUT_THNLALU,
       P.NILAIAKUMSUSUT_BLNLALU NILAIAKUMSUSUT_BLNLALU, @NMBULAN NMBULAN
INTO #_02
FROM #_01 P 
LEFT JOIN DAFTASET DA ON DA.KDASET = substring(P.KDASET,4,LEN(P.KDASET))
LEFT JOIN JNSKIB j ON j.KDKIB+'.' = P.KDASET
WHERE P.NILAIAKUMSUSUT > 0 --AND P.KDASET='02.1.3.2.05.02.07.001.'  and TAHUN='2021'
GROUP BY P.JNSASET, P.IDBRG ,P.KDASET, P.TAHUN, P.NOREG, DA.NMASET,j.NMKIB,P.BULANPEROLEHAN,
       P.TAHUN, P.MERKTYPE, P.UMEKO,DA.TYPE,  P.BULANKE, P.TGLSUSUT, P.KDKLAS,P.NILAIASET,P.NILAISUSUT,P.NILAIAKUMSUSUT,P.NILAIBUKU, P.NILAIAKUMSUSUT_THNLALU,P.NILAIAKUMSUSUT_BLNLALU,
	   P.MASAPAKAI,P.UMEKOSISA
ORDER BY P.JNSASET, P.KDASET, P.TAHUN, P.NOREG

SELECT @PROVINSI PROVINSI, @PEMDA PEMDA, @KOTA KOTA, @KDUNIT KDUNIT ,@NMUNIT NMUNIT,@THANG THANG,
       @KDJBTPIMSKPD KDJBTPIMSKPD,@NIPPIMSKPD NIPPIMSKPD,@NMPIMSKPD NMPIMSKPD,
	   @KDJBTTTDSKPD KDJBTTTDSKPD,@NIPTTDSKPD NIPTTDSKPD,@NMTTDSKPD NMTTDSKPD,
       @KDJBTPIMPEMDA KDJBTPIMPEMDA,@NIPPIMPEMDA NIPPIMPEMDA,@NMPIMPEMDA NMPIMPEMDA,
	   @KDJBTTTDPEMDA KDJBTTTDPEMDA,@NIPTTDPEMDA NIPTTDPEMDA,@NMTTDPEMDA NMTTDPEMDA,
       P.JNSASET, P.IDBRG, P.KDASET, isnull(DA.NMASET,j.NMKIB) NMASET, isnull(DA.TYPE,'H') TYPE, P.NOREG, P.BULANPEROLEHAN,
       P.TAHUN, P.MERKTYPE, P.UMEKO, P.MASAPAKAI AS AKHIRMASAPAKAI,P.UMEKOSISA, P.BULANKE BULANSUSUTKE,
       P.TGLSUSUT, P.KDKLAS,SUM(P.NILAIASET) NILAIASET, SUM(ROUND(P.NILAISUSUT,0)) NILAISUSUT, 
	   SUM(P.NILAIAKUMSUSUT) NILAIAKUMSUSUT, SUM(P.NILAIBUKU) NILAIBUKU, SUM(P.NILAIAKUMSUSUT_THNLALU) NILAIAKUMSUSUT_THNLALU,
       SUM(P.NILAIAKUMSUSUT_BLNLALU) NILAIAKUMSUSUT_BLNLALU, @NMBULAN NMBULAN
FROM #_02 P 
LEFT JOIN DAFTASET DA ON DA.KDASET = substring(P.KDASET,4,LEN(P.KDASET))
LEFT JOIN JNSKIB j ON j.KDKIB+'.' = P.KDASET
WHERE P.NILAIAKUMSUSUT > 0 --AND P.KDASET='02.1.3.2.05.02.07.001.'  and TAHUN='2021'
GROUP BY P.JNSASET, P.IDBRG ,P.KDASET, P.TAHUN, P.NOREG, DA.NMASET,j.NMKIB,P.BULANPEROLEHAN,
       P.TAHUN, P.MERKTYPE, P.UMEKO,DA.TYPE,  P.BULANKE, P.TGLSUSUT,-- P.NILAIASET,P.NILAISUSUT,P.NILAIAKUMSUSUT,P.NILAIBUKU, P.NILAIAKUMSUSUT_THNLALU,P.NILAIAKUMSUSUT_BLNLALU,
	   P.MASAPAKAI,P.UMEKOSISA,P.KDKLAS
ORDER BY P.JNSASET, P.KDASET, P.TAHUN, P.NOREG


